<template id="aside-archives">
    <div class="aside-archives">
        <div class="card">
            <div class="headline">Archives</div>
            <div class="description">Under development...</div>
        </div>
    </div>
</template>
