<template id="aside-home">
    <div class="aside-home">
        <div class="profile card">
            <div class="profile-image" style="background-image: url('/rc/profile.webp');"></div>
            <div class="name">ForYes</div>
            <div class="bias">Make It Awesome</div>
            <div class="info">
                <div class="item">
                    <div class="description">Articles</div>
                    <div class="number">0</div>
                </div>
                <div class="item">
                    <div class="description">Tags</div>
                    <div class="number">0</div>
                </div>
                <div class="item">
                    <div class="description">Days</div>
                    <div class="number">0</div>
                </div>
            </div>
            <a class="button" href="https://github.com/YesDevelop" target="_blank">My GitHub</a>
            <div class="last-update">Last updated on 2026/1/1</div>
        </div>
        <div class="announce card">
            <div class="headline">Blogs</div>
            <div class="text">
                /* INJECT_ANNOUNCE */
            </div>
        </div>
    </div>
</template>
