<div class="footer">
    <div class="recommend">Friend links are welcome! Contact me through yes-noob at outlook.</div>
    <div class="copyright">Copyright © 2026 ForYes All Rights Reserved.</div>
</div>
