<header>
    <nav>
        <div class="title">ForYes</div>
        <div class="items">
            <a class="item active" href="javascript:;">Home</a>
            <a class="item" href="javascript:;">Archives</a>
            <a class="item" href="javascript:;">About</a>
        </div>
        <input class="search" id="search-input" placeholder="Search" />
    </nav>
    <div class="ground">
        <div class="title">ForYes Blogs</div>
        <div class="subtitle">Years rolling by just like a dream</div>
    </div>
</header>
