<div class="header">
    <nav>
        <div class="title">ForYes</div>
        <a onclick="toggleNavmain()" href="javascript:;" class="mobile-button-items">≡</a>
        <div class="navmain">
            <div class="items">
                <a class="item active" href="javascript:;">Home</a>
                <a class="item" href="javascript:;">Archives</a>
                <a class="item" href="javascript:;">About</a>
            </div>
            <input class="search" id="search-input" placeholder="Search" />
            <div class="mobile-ground"></div>
        </div>
    </nav>
    <div class="ground">
        <div class="title">ForYes Blogs</div>
        <div class="subtitle">Years rolling by just like a dream</div>
    </div>
</div>

<script>
    let navmainDisplay = false;
    let eventRegistered = false;

    function toggleNavmain() {
        if (!eventRegistered) {
            if (window.maskOnclickEvents) {
                window.maskOnclickEvents.push(() => {
                    if (navmainDisplay) {
                        toggleNavmain();
                    }
                })
            } else {
                return;
            }
        }
        if (navmainDisplay) {
            document.querySelector(".navmain").style.opacity = "0";
            document.querySelector(".navmain").style.pointerEvents = "none";
            document.querySelector(".navmain").style.right = "-70vw";
            window.toggleMask();
            navmainDisplay = false;
        } else {
            document.querySelector(".navmain").style.opacity = "1";
            document.querySelector(".navmain").style.pointerEvents = "auto";
            document.querySelector(".navmain").style.right = "0";
            window.toggleMask();
            navmainDisplay = true;
        }
    }
</script>
