.homeview {
    padding-top: 6vh;

    .post {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-top: 1px solid var(--text-color);
        align-items: center;
        padding: 1rem;
        color: var(--text-color);
        gap: 10px;

        &:last-child {
            border-bottom: 1px solid var(--text-color);
        }

        .title {
            font-size: 24px;
            font-weight: bold;
        }

        .info {
            display: flex;
            gap: 20px;
        }

        .preview {
            line-height: 1.6;
            display: -webkit-box;
            display: -moz-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            line-clamp: 4;
            text-overflow: ellipsis;
        }
    }
}
