<template id="main-home">
    <div class="main-home">
        <div class="posts card">
            <template id="post">
                <a class="post" href="javascript:;">
                    <div class="title">%title%</div>
                    <div class="info">
                        <div class="date">%date%</div>
                        <div class="tag">%tag%</div>
                    </div>
                    <div class="preview">%preview%</div>
                </a>
            </template>
        </div>
    </div>
</template>
