<p>
    I'm a senior high school student living in China.
    I have a little experience in C++ and web development.
    And a Chinese Chess AI project called [Chess98](https://github.com/StarlightChessOrg/Chess98) is now developing by
    my friend and I. If you are interested in that welcome to have a look.
</p>

<h2>
    🛠️ Tech Stack
</h2>

<p>
    Something I like:
</p>

<ul>
    <li>
        Languages: JS, Lua, C++, Python, ...
    </li>
    <li>
        Development Preferences: Web, AI, Cross-Platform, ...
    </li>
    <li>
        Interested in: PyTorch, Full-Stack Web, Windows, ...
    </li>
</ul>

<h2>
    🚀 Projects
</h2>

<p>
    Some projects of mine:
</p>

<ul>
    <li>
        Chess98 ❄️: A powerful Chinese Chess AI.
    </li>
</ul>

<h2>
    📫 Connect
</h2>

<p>
    You can connect me through them:
</p>

<ul>
    <li>
        GitHub: @yesdevelop
    </li>
    <li>
        Email: yes-noob@outlook.com
    </li>
    <li>
        Xiangqi.com: @Yes-Noob
    </li>
    <li>
        QQ: 2820795095
    </li>
</ul>

<h2>
    ❤️ My Friends
</h2>

<p>
    Here are my friends, I have deep communication with them:
</p>

<ul>
    <li>
        HeliumAreFlying https://github.com/HeliumAreFlying
    </li>
    <li>
        Imitoy https://github.com/imitoy
    </li>
    <li>
        UPlanFor https://github.com/uplanfor
    </li>
    <li>
        Mengchen https://github.com/TatsukiMengChen
    </li>
</ul>
