<p>
    大佬好 👋
</p>

<p>
    本人是一个高中学生，坐标江西，就读于某高中。
    平时喜欢敲点代码，写过C++和前端。
    目前在和一位大佬一起写一个中国象棋AI项目[Chess98](https://github.com/StarlightChessOrg/Chess98)，欢迎前来看看。
</p>

<h2>
    🛠️ 关于技术
</h2>

<p>
    从小开始敲代码，喜欢的东西杂乱而浅陋：
</p>

<ul>
    <li>语言方面：JS, Lua, C++, Python...</li>
    <li>技术方向：Web，AI，跨平台应用等</li>
    <li>兴趣：PyTorch，全栈，Windows...</li>
</ul>

<h2>
    🚀 我的项目
</h2>

<p>
    以下是我的一些项目，由于要上学，每周只能敲那么几次代码：
</p>

<ul>
    <li>Chess98：一个棋力还可以的中国象棋AI</li>
</ul>

<h2>
    📫 联系
</h2>

<p>
    我的联系方式：
</p>

<ul>
    <li>GitHub: @yesdevelop</li>
    <li>Email: yes-noob@outlook.com</li>
    <li>Xiangqi.com: @Yes-Noob</li>
    <li>QQ: 2820795095</li>
</ul>

<h2>
    ❤️ 朋友们
</h2>

<p>
    我认识的一些大佬，欢迎follow他们 🫱🫱：
</p>

<ul>
    <li>小鸟巡航大佬 https://github.com/HeliumAreFlying</li>
    <li>清圆大佬 https://github.com/imitoy</li>
    <li>清芜大佬 https://github.com/uplanfor</li>
    <li>梦辰大佬 https://github.com/TatsukiMengChen</li>
</ul>
