@import "base.less";
@import "components/header.less";
@import "components/footer.less";
@import "components/homeaside.less";
@import "components/homeview.less";
@import "components/article.less";

/* 主区域和侧边栏 */
.view {
    flex: 1;
    z-index: 2;

    display: flex;
    justify-content: center;
    gap: 2rem;

    padding: 3vh 8vw;
    background-color: var(--bg-color);

    main {
        flex: 1;
        max-width: 700px;

        >div {
            width: 100%;
            height: 100%;
        }
    }

    aside {
        width: 30%;
        max-width: 300px;

        >div {
            width: 100%;
            height: 100%;
        }
    }

    @media screen and (max-width: 1200px) {
        & {
            padding: 3vh 3rem;
        }
    }

    @media screen and (max-width: 900px) {
        & {
            flex-direction: column;
            padding: 3vh 1rem;
        }

        main,
        aside {
            max-width: none;
            flex: none;
            width: 100%;
        }
    }
}
