* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    --primary-color: #369f70;
    --bg-color: #eee;
    --bg-color-fade: #8881;
    --outline-strong-color: #8888;
    --text-color: #333;
    --primary-bg-text-color: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: light dark;
        --primary-color: #369f70;
        --bg-color: #333;
        --bg-color-fade: #8881;
        --outline-strong-color: #8888;
        --text-color: #eee;
        --primary-bg-text-color: #fff;
    }
}

/* 基础元素 */

a {
    text-decoration: none;
    color: var(--primary-color);
}

input {
    border: 0;
    background-color: var(--bg-color-fade);
    outline: 1px solid var(--outline-strong-color);
    padding: 0 10px;
    overflow: hidden;
    color: var(--primary-color);
    border-radius: 6px;
}

input:focus {
    outline: 2px solid var(--primary-color)
}

/* 页头页脚 */

.header {
    width: 100%;
    height: 60px;
}

.real-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 0 30px;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--primary-color)
}

.real-header .site-title {
    display: block;
    width: 15%;
    font-size: 24px;
    color: var(--primary-color);
    overflow: hidden;
}

.real-header .nav {
    display: flex;
    flex-direction: row;
    width: 55%;
    max-width: 200px;
    overflow: hidden;
}

.real-header .nav .nav-item {
    display: block;
    font-size: 18px;
    margin-right: 10%;
    color: var(--text-color);
}

.real-header .nav .nav-item.active {
    color: var(--primary-color);
}

.real-header .search {
    display: block;
    width: 30%;
    max-width: 300px;
    margin-left: 20%;
}

.real-header .search #search-input {
    display: inline-block;
    width: 100%;
    height: 30px;
}

.footer {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
}

.footer .introduction {
    color: var(--primary-bg-text-color);
    text-align: center;
    margin: 5px 0;
}

.footer .copyright {
    color: var(--primary-bg-text-color);
    text-align: center;
    margin: 5px 0;
}
