* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: serif;
    color-scheme: light dark;
    --primary-color: #369f70;
    --primary-color-fade: #369f7022;
    --bg-color: #f4f6f9;
    --bg-color-fade: #8881;
    --outline-strong-color: #8888;
    --text-color: #333;
    --primary-bg-text-color: #fff;
    --card-color: #fff;
    --card-box-shadow: 0 3px 8px 6px #0002;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #369f70;
        --bg-color: #333;
        --bg-color-fade: #8881;
        --outline-strong-color: #8888;
        --text-color: #eee;
        --primary-bg-text-color: #fff;
        --card-color: #2f2f2f;
        --card-box-shadow: 0 3px 8px 6px #fff2;
    }
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--bg-color);
}

/* 基础元素 */

a {
    text-decoration: none;
    color: var(--primary-color);
}

input {
    border: 0;
    background-color: var(--bg-color-fade);
    outline: 1px solid var(--outline-strong-color);
    padding: 0 10px;
    color: var(--primary-color);
    border-radius: 6px;
}

input:focus {
    outline: 2px solid var(--primary-color)
}

/* 页头页脚 */

.header {
    width: 100%;
    height: 60px;
    flex: none;
}

.real-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 0 15vw;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--primary-color)
}

.real-header .site-title {
    width: 15%;
    flex: none;
    font-size: 24px;
    color: var(--primary-color);
    overflow: hidden;
}

.real-header .nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
}

.real-header .nav .nav-item {
    font-size: 18px;
    margin-right: 30px;
    color: var(--text-color);
}

.real-header .nav .nav-item.active {
    color: var(--primary-color);
}

.real-header .search {
    width: 20%;
    max-width: 300px;
}

.real-header .search #search-input {
    width: 100%;
    height: 30px;
}

.footer {
    flex: none;
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color-fade);
    border-top: 1px solid var(--primary-color)
}

.footer .text {
    color: var(--primary-color);
    text-align: center;
    margin: 5px 0;
}

/* 主区域和侧边栏 */

.view {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 3vw;
    padding: 3vh 10vw;
    padding: 3dvh 10dvw;
    height: 100%;
}

.view .card {
    background: var(--card-color);
    border-radius: 16px;
    box-shadow: var(--card-box-shadow);
}

.view .main {
    max-width: 800px;
    height: 1000px;
    flex: 1;
}

.view .aside {
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 300px;
}

.aside .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    width: 100%;
    padding: 10%;
}
.aside .profile > * {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.aside .profile .profile-image {
    max-width: 100px;
    aspect-ratio: 1;
    background-image: url("/profile.jpg") ;
    background-size: cover;
    border-radius: 100%;
}

.aside .profile .name {
    color: var(--primary-color);
    font-size: 20px;
}

.aside .profile .bias {
    color: var(--text-color);
}

.aside .profile .info {
    display: flex;
}

.aside .profile .info .item {
    flex: 1;
    border-right: 1px solid var(--text-color);
    overflow: hidden;
}

.aside .profile .info .item:last-child {
    border-right: 0;
}

.aside .profile .info .item .description {
    margin-bottom: 5px;
}

.aside .profile .button {
    display: block;
    padding: 8px 0;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 8px;
}
